---
layout: base
class: portfolio
---

{% assign items = site[page.collection] | reverse %}
{% for item in items %}
    {% if item.title != 'Index' %}
        <div class="item">
            <div class="thumbnail">
                {% if item.thumbnail != null %}
                    <a href="{{ item.link }}">
                        <img src="{{ item.thumbnail | relative_url }}" alt="{{ item.title }}">
                    </a>
                {% endif %}
            </div>

            <div class="description">
                <h2>
                    <a href="{{ item.link }}">{{ item.title }}</a>
                </h2>

                {{ item.content }}
                
                <ul class="technologies">
                    {% capture techs %}{% for tech in item.technologies %}|{{ tech }}{% endfor %}{% endcapture %}
                    {% assign sortedTechs = techs | split: '|' | sort %}
                    {% for tech in sortedTechs %}
                        {% if tech != '' %}
                            <li>{{ tech }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endfor %}