<header>
  <div id="burger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  
  <div class="title">
    <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Logo" id="logo" />
    <div class="name">
      <div class="first-name">Rodolphe</div>
      <div class="last-name">Peccatte</div>
    </div>
  </div>

  <div class="description">Développeur web et logiciel</div>

  {% include navigation.html %}
  
  {% include social.html %}

  <a href="{{ "/assets/files/Rodolphe Peccatte - CV.pdf" }}" class="download-resume">
    <img src="{{ "/assets/img/pdf.png" | relative_url }}"> Téléchargez mon CV au format PDF
  </a>
  
</header>